.red{
    border: solid 3px red;
}
.green{
    border: solid 3px green;
}

.largM{
    width: 50%;
}
/* JS FORMULAIRE EMAIL VALID ETC... */

.validA{
    color: #00d812;
    background-color: #c2ffba;
 }


.invalidA{
    color: #D8000C;
    background-color: #FFBABA;
}